<%= render "shared/header" %>

<ul>
	<% @concerts.each do |concert| %>
		<li>
			<b><%= link_to concert.artist, "/concerts/#{concert.id}" %></b>
			<% if (concert.description) %>
				-
			<% end %>
			<%= concert.description %>
			<%= concert.date %>
		</li>
	<% end %>
</ul>

<%= link_to "Create a new concert", new_concert_path %>

<%= render "shared/footer" %>