<%= render "shared/header" %>

<h1>Concert Details</h1>

<h2><%= @my_concert.artist %></h2>
<p><%= @my_concert.venue %></p>
<p><%= @my_concert.city %></p>
<p><%= @my_concert.date %></p>
<p><%= @my_concert.price %></p>

<h4>Leave your comment!</h4>

<%= render "shared/footer" %>