<h1>Happening today!</h1>

<ul>
	<% @concerts.each do |concert| %>
		<% if concert.date.today? %>
			<li>
				<b><%= link_to concert.artist, "/concerts/#{concert.id}" %></b>
				<% if (concert.description) %>
					-
				<% end %>
				<%= concert.description %>
			</li>
		<% end %>
	<% end %>
</ul>

<h4>How much would you like to spend?</h4>

<%= form_tag('/search') do %>
	<%=label_tag 'Cost'%>
	<%=number_field_tag 'cost'%>
  <div><%= submit_tag 'Search' %></div>
<% end -%>

<%= form_tag('concerts/popular') do %>
	<%=label_tag 'Popular'%>
  <div><%= submit_tag 'See Popular Concerts!' %></div>
<% end -%>

<%= render "shared/sidebar" %>

<!-- datetime.to_date.past? # => false (only based on date)
datetime.to_date.future? # => false  (only based on date)

datetime.to_date == Date.tomorrow # => false
datetime.to_date == Date.yesterday # => false

datetime = Time.now.to_datetime
=> Sun, 26 Oct 2014 16:24:55 -0600 

datetime += 1.day
=> Mon, 27 Oct 2014 16:25:12 -0600

datetime >= Date.today
=> true

datetime < (Date.tomorrow + 1.day)
=> false -->