<!DOCTYPE html>
<html>
<head>
  <title>Concerts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<b><%= link_to "Home", home_path %>
	<b><%= link_to "Concerts", concerts_path %>
</header>

<%= yield %>
<footer>
	© 2016 Andreza Feu
</footer>
</body>
</html>
